:root {
  --dark-color: #19233f;
  --green-color: #33d1cc;
  --red-color: #ff3150;
  --yellow-color: #ffc400;
  --section-color: #eff7fa;
}

*,
::before,
::after {
  transition: 0.3s;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

/* Start Navbar */
.navbar {
  background: var(--dark-color);
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-item .nav-link.active,
.navbar .navbar-nav .nav-item .nav-link:focus,
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--green-color);
}

.navbar .search {
  border-left: 1px solid var(--green-color);
}

.navbar .search svg {
  color: var(--green-color);
}

.main-btn {
  color: var(--yellow-color);
  background: var(--red-color);
  padding: 0.5rem 1rem;
}

.main-btn:hover {
  background: var(--red-color);
  color: var(--yellow-color);
}

.navbar .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded='true'] {
  border-color: var(--green-color);
}

/* End Navbar */

/* Start Landing */
.landing {
  background: var(--dark-color);
  min-height: calc(100vh - 72px);
}

/* End Landing */

/* Start Features */
.main-title::after {
  content: '';
  position: absolute;
  width: 120px;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--green-color);
}

.features .icon-holder {
  height: 200px;
}

.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}

.features .icon-holder .number {
  color: var(--section-color);
  font-size: 12rem;
}

.features .icon-holder .icon {
  color: var(--green-color);
}

.features .feat h4 {
  color: var(--yellow-color);
}

/* End Features */

/* Start Our Work */
.our-work {
  background: var(--section-color);
}

.our-work ul .active {
  background: var(--red-color);
  color: var(--yellow-color);
}

.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.our-work ul li:not(.active):hover {
  color: var(--red-color);
}

.our-work .box {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px #ddd;
}

.our-work .box::before {
  content: attr(data-work);
  position: absolute;
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  transform: translateX(calc(100% + 0.25rem));
  top: 0.25rem;
  background: #33d1ccb3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.our-work .box:hover::before {
  transform: translateX(0);
}

/* End Our Work */

/* Start Stuff */
.stuff .description {
  max-width: 500px;
}

/* End Stuff */

/* Start Team */
.team {
  background: var(--section-color);
}

.team h2 {
  color: var(--yellow-color);
}

.team .box {
  box-shadow: 0 0 10px #ddd;
}

.team .box h4 {
  bottom: -8px;
  background: rgb(51 209 204 / 70%);
}

/* Start Team */

/* Start Project */
.project {
  background: var(--dark-color);
}

/* End Project */

/* Start Subscribe */
.subscribe {
  background: var(--yellow-color);
}

.subscribe ::placeholder {
  color: #fff;
}

.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
}

.subscribe input[type="text"]:focus {
  outline: none;
}

.subscribe input[type="submit"] {
  background: var(--dark-color);
  color: var(--yellow-color);
}

/* End Subscribe */

/* Start Footer */
.footer {
  background: var(--dark-color);
}

.footer .copyright>span {
  color: var(--green-color);
}

.footer .copyright div span {
  color: var(--yellow-color);
}

.footer .facebook {
  background: #1877f2;
}

.footer .twitter {
  background: #1da1f2;
}

.footer .linkedin {
  background: #0077b5;
}

.footer .youtube {
  background: #f00;
}

/* End Footer */